body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.icon {
  height: 1.5rem;
  color: white;
}

.dark_icon {
  color: #000;
}

.dashboard_icon {
  height: 3rem;
}

.menu_icon {
  margin-left: 10px;
}

.search_icon {
  height: 1.5rem;
  margin-left: 15px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 180px 1fr;
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column: 2;
  grid-row: 1;
  gap: 20px;
  padding: 20px 40px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  .search {
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-items: center;
  }

  .search input {
    background: rgb(226, 232, 240);
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 570px;
  }

  .alerts {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: end;
    align-items: center;
    svg {
      grid-column: 1;
    }
    .name {
      grid-column: 2;
      display: grid;
      align-items: center;
      justify-content: end;
      justify-self: start;
      grid-template-columns: 1fr 2fr;
      font-size: 1.2rem;
      font-weight: 600;
      img {
        border-radius: 20px;
        height: 40px;
      }
    }
    align-items: center;
  }

  .user-info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-self: start;
    column-gap: 20px;
    img {
      grid-column: 1;
      grid-row: 1 / 3;
      border-radius: 35px;
      height: 70px;
      justify-self: start;
    }
    .greeting {
      align-self: self-end;
      font-size: 1rem;
      grid-column: 2 / 6;
      grid-row: 1;
    }

    .user {
      font-size: 1.5rem;
      align-self: flex-start;
      font-weight: bold;
      grid-column: 2 / 6;
      grid-row: 2 / 4;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 50px;
    button {
      color: white;
      background: rgb(26, 146, 212);
      font-size: 1.1rem;
      padding: 10px 0;
      border-radius: 20px;
      border: none;
    }
    .new_button {
      grid-column: 1;
    }
    .upload_button {
      grid-column: 2;
    }
    .share_button {
      grid-column: 3;
    }
  }
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column: 2;
  grid-row: 2 / 5;
  background: rgb(226, 232, 240);
  padding: 10px 20px;
  .projects {
    display: grid;
    grid-template-rows: 50px 1fr;
    h3 {
      padding-left: 10px;
      grid-row: 1;
    }
    .cards {
      display: grid;
      grid-column: 1;
      row-gap: 20px;
      column-gap: 40px;
      padding: 20px;
      grid-template-columns: repeat(auto-fit, minmax(325px, 400px));
      grid-template-rows: 250px;
      grid-auto-rows: 250px;
      h3 {
        grid-column: 1 / 3;
      }
      .card {
        display: grid;
        grid-template-columns: 1fr 150px;
        grid-template-rows: 25px 100px 50px;
        row-gap: 15px;
        background: white;
        height: 200px;
        border-radius: 10px;
        box-shadow: -10px 0px 1px rgb(240, 180, 41),
          5px 5px 10px rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        h4 {
          grid-column: 1 / 3;
          font-size: 1.2rem;
        }
        p {
          grid-column: 1 / 3;
        }
        .icons {
          display: grid;
          grid-column: 2;
          gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          .icon {
          }
          .star {
          }
          .eye {
          }
          .graph {
          }
        }
      }
    }
  }
  .extras {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-column: 2;
    > div {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      ul {
        display: grid;
        background: white;
        border-radius: 20px;
        padding: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        &.announcements {
          grid-template-rows: repeat(3, 1fr);
          align-items: start;
          li {
            border-bottom: solid 1px rgb(211, 211, 211);
            max-height: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 20px;
            &:last-child {
              border: none;
              padding-bottom: none;
            }
          }
          .note {
            display: grid;
            gap: 10px;
            grid-template-rows: 20px 1fr;
          }
        }
        p {
          font-size: 0.8rem;
          p {
            padding: 0;
          }
        }
      }
    }
  }
}

.side-content {
  color: white;
  padding: 20px;
  display: grid;
  grid-template-rows: 80px 325px 100px;
  grid-column: 1;
  grid-row: 1 / 5;
  background: rgb(25, 146, 212);

  .logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  .nav {
    /* background: darkgreen; */
  }

  .menu.side-menu,
  .menu.settings {
    display: grid;
    gap: 20px;

    font-weight: 600;
    font-size: 1.2rem;
  }

  .menu.side-menu a,
  .menu.settings a {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
  }

  .settings {
  }
}
